.explore-container {
  --vertical-gap: 1%;
  --container-padding: 0.75%;
  --workspace-gap: 0.5%;
  --data-container-width: 100%;
  --data-container-height: 85%;
  --button-container-width: 100%;
  --button-container-height: 11%;
   --search-container-width: 25%;
    --search-container-height: 70%;
    --search-bar-width: 100%;
    --button-wrapper-width: 40%;
    --button-wrapper-height: 90%;
    --button-height: 100%;
    --button-width: 100%;
    --table-structure-width: 100%;
    --table-structure-height: 83%;
     --table-width: 100%;
    --table-height: 80%;
     --data-width: 100%;
    --data-height: 99%;
    --table-data-width: 100%;
    --table-data-height: 99%;
    --breadcrums-container-width: 100%;
    --breadcrums-container-height: 10%;
    --page-container-width:100%;
    --page-container-height:12%;

}

.explore-container .app-container {
  @apply w-screen h-screen flex flex-col overflow-hidden;
}
.explore-container .explore-navbar-wrapper {
  @apply w-full flex-shrink-0; 
  height: var(--navbar-height); 
  transition: height 0.15s ease-out;
}

/* THE CONTAINER CORE SPLITTER LAYOUT */
.explore-container .explore-container {
  display: flex !important;
  flex-direction: row !important;
  /* Forces components to inherit vertical heights evenly */
  width: 100%;
  flex: 1 1 0%;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.explore-container .explore-sidebar {
  @apply flex-shrink-0 ;
  width: var(--sidebar-width);
  height:99%;
  /* background-color: var(--bg-color) !important;  */
  transition: width 0.15s ease-out, background-color 0.15s ease-out;
}

.explore-container .sub-container {
  /* 1. LAYOUT STRUCTURE MAPPINGS */
  display: flex !important;
  flex-direction: column !important;  
  flex: 1 !important;            
   width: 100% !important;               
  height: 98% !important;             
  min-width: 0 !important;            
  padding: var(--padding-y) var(--padding-x) !important;       
  /* background-color: var(--bg-color) !important;  */
  border-radius: 0.5rem;              
  overflow: hidden;
  transition: background-color 0.15s ease-out;
}
.explore-container .layout-vertical-gap {
  gap: var(--vertical-gap);
}
.explore-container .container-padding {
  padding: var(--container-padding);
}
.explore-container .layout-gap {
  gap: var(--workspace-gap);
}
.explore-container .sub-container {
  /* 1. LAYOUT STRUCTURE MAPPINGS */
  display: flex !important;
  flex-direction: column !important;  
  flex: 1 !important;            
   width: 100% !important;               
  height: 99% !important;             
  min-width: 0 !important;            
  padding: var(--padding-y) var(--padding-x) !important;       
  /* background-color: var(--bg-color) !important;  */
  border-radius: 0.5rem;              
  overflow: hidden;
  transition: background-color 0.15s ease-out;
}
.explore-container .data-container {
    width: var(--data-container-width) !important;
    height: var(--data-container-height) !important;
    min-width: 0 !important;
    min-height: 0 !important;
    direction:flex !important;
    flex-direction: column !important;
    gap: var(--workspace-gap) !important;
    padding: var(--padding-y) var(--padding-x) !important;
}
.explore-container .layout-button-container {
  width: var(--button-container-width);
  height: var(--button-container-height);
   overflow-x: auto;
   scrollbar-width: thin; /* For Firefox */
  transition: width 0.25s ease-out, height 0.15s ease-out;
}
.explore-container .layout-search-container {
  width: var(--search-container-width);
  height: var(--search-container-height);
 
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}
.explore-container .search-bar  {
  width: var(--search-bar-width);
  height: var(--search-container-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}
.explore-container .layout-button-wrapper {
  width: var(--button-wrapper-width);
  height: var(--button-wrapper-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}
.explore-container .button-base {
  /* @apply px-1 py-1 rounded-md text-sm font-medium transition-colors duration-200; */
  width: var(--button-width);
  height: var(--button-height);
}
.explore-container .layout-table-structure {
  width: var(--table-structure-width);
  height: var(--table-structure-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}
.explore-container .layout-breadcrums-container {
  width: var(--breadcrums-container-width);
  height: var(--breadcrums-container-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}
.explore-container .layout-table {
  width: var(--table-width);
  height: var(--table-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}
.explore-container .layout-data-container {
  width: var(--data-width);
  height: var(--data-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */
}

.explore-container .layout-rows-container {
  width: var(--table-data-width);
  height: var(--table-data-height);
  /* transition: width 0.25s ease-out, height 0.15s ease-out; */

}
.explore-container .layout-page-container {
  width: var(--page-container-width);
  height: var(--page-container-height);
   /* overflow-x: auto;
   scrollbar-width: thin;  */
    /* background-color: var(--bg-color) !important;  */
  transition: width 0.25s ease-out, height 0.15s ease-out;
}